.arrow {
    cursor: pointer;
    position: relative;
    display: block;
    margin: 100px 1% 0 100px;
    width: 100px;
    height: 100px;
    border: solid 6px #999;
    border-radius: 100%;
    z-index: 1;
    transition: all .2s linear;
}

.arrow:before, .arrow:after {
    content: "";
    position: absolute;
    width: 35%;
    height: 10%;
    top: 41%;
    left: 55%;
    background: red;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all .2s linear;
}

.arrow:after {
    z-index: 3;
    top: 59%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.arrow:hover {
    border: solid 8px #777;
}

.arrow:hover:after, .arrow:hover:before {
    background: red;
}

.arrow:active {
    border: solid 8px yellow;
}

.arrow:active:after, .arrow:active:before {
    background: yellow;
}

.correct-align {
    margin-right: 15px;
}